#header {
    font-size: 20px;
    padding: 5px;
    border-bottom:3px solid #F9FEEE;
    text-align: center;
    letter-spacing: 1px;
}

.user {
    background-color: #FFB633;
    border: 3px solid #F9FEEE;
    border-radius: 10px;
    width: 50%;
    margin: 80px auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    padding: 0px;
}

#item1 {
    flex-grow: 1;
    flex-basis: 0;
}

#item2 {
    flex-grow: 2;
    flex-basis: 0;
    font-family: "frontpage";
    font-size: 20px;
    letter-spacing: 1px;
}

input {
    padding-left: 8px;
    background-color: #FFB633;
    border: none;
    border-bottom: 1px solid grey;
    font-family: "frontpage";
    font-size: 20px;
    letter-spacing: 1px;
}

#home {
    display: block;
    margin: 10px auto;
    margin-top: 20px;
}

#updateCancel {
    text-align: center;
} 



.profilePic {
    height: 80px;
    width: 80px;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 40px;
    /* float: left; */
    margin: 20px;
}

.buttons, .buttons a {
    font-family: "Legend";
    background-color: #097046;
    color: #F9FEEE;
    padding: 7px;
    text-decoration: none;
    margin: 5px;
}

.status {
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

span {
    background-color: gold;
    border-radius: 5px;
    padding: 10px;
}

 
@font-face {
    font-family: 'Legend';
    src: url("../../assets/legend.ttf") format('truetype');
} 

@media only screen and (max-width: 768px) {

    .user {
        width: 60%;
    }

    .flex-container {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }

    #item1, #item2 {
        flex-grow: 1;
        margin: auto
    }

    .profilePic {
        height: 80px;
        width: 80px;
    }

    input {
        width: 90px;
    }


}